body {
    font-family: "Calibri", sans-serif;
}

.text {
    font-size: 20px;
}

hr {
    color: lightgrey;
}

.pdf-link {
    display: flex;
    align-items: center;
}

.pdf-icon {
    margin-right: 10px;
}

#test{
    color: aqua;
}